<section class="section">
  <div class="container">
    <h3>Add documents</h3>
    {{#link-to 'manage.upload' class="button is-primary is-medium" }}
      Upload
    {{/link-to}}
  </div>
</section>

<section class="section">
  <div class="container">
    <h3>Latest unverified documents</h3>
    {{#each model.content as |content|}}
      {{content-entry content}}
    {{else}}
      <i>No documents need verification.</i>
    {{/each}}

    {{#if (compare model.content.meta.pagination.count '>' 5)}}
      <p>
        {{#link-to 'manage.unverified' class="button is-link" }}
          All unverified documents
        {{/link-to}}
      </p>
    {{/if}}
  </div>
</section>

<section class="section">
  <div class="container">
    <h3>Latest files with no documents</h3>
    {{#each model.files as |file|}}
      {{file-entry file}}
    {{else}}
      <i>All files have at least one document assigned.</i>
    {{/each}}

    {{#if (compare model.files.meta.pagination.count '>' 5)}}
      <p>
        {{#link-to 'manage.files' class="button is-link" }}
          All files with no documents
        {{/link-to}}
      </p>
    {{/if}}
  </div>
</section>
