<section class="section">
  <div class="container">
    <h3>Unverified documents</h3>
    <div class="columns is-reversed">
      {{#filter-sidebar search=search reset=(action "resetFilters")}}

      {{/filter-sidebar}}

      <div class="column">
        {{outlet}}
      </div>
    </div>
  </div>
</section>
