{{#section-content-list title="Unverified documents"}}
  {{#filter-sidebar search=search sortTypes=sortTypes sortSelected=sortSelected reset=(action "resetFilters")}}

  {{/filter-sidebar}}

  <div class="column">
    {{outlet}}
  </div>
{{/section-content-list}}
