<div class="media-content">
  <div class="content">
    <p>
      <strong>{{content.title}}</strong> <small>{{content.contentType}}</small>
      <br>

    </p>
  </div>
</div>
<div class="media-right has-text-centered">
  <span class="icon is-medium"><i class="fa fa-file-pdf-o"></i></span>
</div>
