<span class="icon is-medium">
  {{#link-to "view" file activeClass="" target="_blank" }}
    {{#if file.isImage}}
      {{fa-icon "file-image-o"}}
    {{else}}
      {{fa-icon "file-pdf-o"}}
    {{/if}}
  {{/link-to}}
</span>
<br>
<small>{{file.sizeReadable}}</small>
