<nav class="panel">
  <p class="panel-heading">
    Filter
  </p>
  <div class="panel-block">
    <p class="control has-icons-left">
      {{input class="input" type="text" placeholder="Search" value=search}}
      <span class="icon is-left">{{fa-icon "search"}}</span>
    </p>
  </div>

  {{yield}}

  <div class="panel-block">
    <button class="button is-primary is-outlined is-fullwidth is-small" {{action "reset"}}>
      Reset all filters
    </button>
  </div>
</nav>
