<div class="hero-body">
  <div class="container">
    <div class="columns has-text-centered">
      <div class="column">
        {{yield}}
      </div>
    </div>
  </div>
</div>

<div class="hero-foot has-text-centered">
  {{joda.copyright}}
</div>
