<section class="section">
  <div class="container">
    <h3>All documents</h3>
    <div class="columns is-reversed">
      {{#filter-sidebar search=search reset=(action "resetFilters")}}
        <div class="panel-block">
          <p class="control has-icon">
            {{#multiple-select options=model.tags selected=tagsList placeholder="Tags" searchField="name" onchange=(action (mut tagsList)) as |tag| }}
              {{tag.name}}
            {{/multiple-select}}
            <span class="icon">{{fa-icon "tag"}}</span>
          </p>
        </div>
      {{/filter-sidebar}}

      <div class="column">
        {{outlet}}
      </div>
    </div>
  </div>
</section>
