{{#hero-fullpage errorPage=true}}
  <h1>404</h1>
  <h2>Oops, you've encountered an error</h2>

  <p>It appears the page you were looking for doesn’t exist. Sorry about that.</p>

  <p>
    {{#link-to 'index' class="button is-primary is-hero is-large" }}
      Home
    {{/link-to}}
  </p>
{{/hero-fullpage}}
