{{#hero-fullpage errorPage=true}}
  <h1>{{t 'common.error.404'}}</h1>
  <h2>{{t 'common.error.404-oops'}}</h2>

  <p>{{t 'common.error.404-body'}}</p>

  <p>
    {{#link-to 'index' class="button is-primary is-hero is-large" }}
      {{t 'common.home'}}
    {{/link-to}}
  </p>
{{/hero-fullpage}}
